* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('BG-sign-up.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form-box {
  background-color: white;
  padding: 40px;
  border-radius: 3px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 50%;
  height:700px;
  max-width: 100%;
}

.logo {
  width: 200px;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 25px;
  text-align: left;
  position: relative;
}

.input-group label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

.input-group input {
  width: 100%;
  padding: 9px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  position: relative;

}
.pass-icon{
  position: absolute;
  top: 30px;
  right: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}


.terms {
  margin: 20px 0;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.terms input {
  margin-right: 10px;
}

.create-account-btn {
  background-color: #0a9eaf;
  color: white;
  padding: 15px ;
  border: none;
  border-radius: 55px;
  cursor: pointer;
  font-size: 16px;
  width: 30%;
  margin-bottom: 30px;
}

.create-account-btn:hover {
  background-color: #00796b;
}

.or{
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(148, 148, 148);
    margin-bottom: 20px;
}

.or::before,
.or::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgb(148, 148, 148);
}
  

.already-account {
  font-size: 14px;
  color: #656464;
  text-decoration: none;
  border-radius: 10px;
  padding: 15px;
  background-color:#f2f0f0;
  width: 40%;
  margin-bottom: 40px;
  margin-left:auto;
  margin-right: auto;
  
}

.already-account a {
  color: #26627d;
  text-decoration: none;
  

}

.already-account a:hover {
  text-decoration: underline;
}

.cancel-btn {
  background: none;
  border: none;
  color: #555;
  cursor: pointer;
  font-size: 14px;
}

.cancel-btn:hover {
  text-decoration: underline;
}


@media screen and (max-width:600px) {
  .form-box {
    width: 100%;
    height: 100%;
  }
}